---
import { styles } from "./Humberger.css";
---

<button
  id="navigation-toggle"
  class={styles.button}
  aria-label="ナビゲーションを開閉する"
>
  <span class={styles.lines}></span>
  <span class={styles.lines}></span>
  <span class={styles.lines}></span>
</button>
