---
import { styles } from "./Container.css";
---

<div class={styles.container}>
  <h1 class={styles.title}>Blogs</h1>
  <p class={styles.description}>
    writes about technology and thoughts
  </p>
  <slot />
</div>
