---
import "@/styles/global.css";
import { ViewTransitions } from "astro:transitions";
import { styles } from "./Base.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Portfolio</title>
    <meta name="robots" content="noindex" />
    <ViewTransitions />
  </head>
  <body class="dark">
    <main class={styles.container}>
      <slot />
    </main>
  </body>
</html>
