---
import "@/styles/global.css";
import { ViewTransitions } from "astro:transitions";
import { styles } from "./Base.css";
import Navigation from "./Navigation.astro";
import RightTopArea from "./RightTopArea.astro";
---

<html lang="en" class="light">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Portfolio</title>
    <meta name="robots" content="noindex" />
    <script src="/scripts/theme.js" is:inline></script>
    <ViewTransitions />
  </head>
  <body>
    <RightTopArea />
    <main class={styles.container}>
      <slot />
    </main>
    <Navigation />
  </body>
</html>
