---
import { styles } from "./Link.css";
import { clsx } from "clsx";

interface Props {
  href: string;
  newTab?: boolean;
  exClass?: string;
  ariaLabel?: string;
}

const { href, newTab, exClass, ariaLabel } = Astro.props;
---

<a
  class={clsx(styles.link, exClass)}
  href={href}
  target={newTab ? "_blank" : undefined}
  rel={newTab ? "noopener noreferrer" : undefined}
  aria-label={ariaLabel}
>
  <slot />
</a>
