---
import Humberger from "./Humberger.astro";
import { styles } from "./RightTopArea.css";
import Switch from "./Switch.astro";
---

<span class={styles.rightTopArea}>
  <Switch />
  <Humberger />
</span>
