---
import { styles } from "./Link.css";

interface LinkProps {
  href: string;
  newTab?: boolean;
}

const { href, newTab } = Astro.props;
---

<a
  class={styles.link}
  href={href}
  target={newTab ? "_blank" : undefined}
  rel={newTab ? "noopener noreferrer" : undefined}
>
  <slot />
</a>
